body {
 text-align: center;
}

.liquid-button {
 margin-top: 20%;
 background: #11a7c1;
 color: #fff;
 border: 0;
 border-radius: 3px;
 font-weight: 400;
 padding: 10px 25px;
 cursor: pointer;
 transition: 0.1s ease-in-out all;
 outline: 0;
 min-width: 150px;
 background: transparent url('./liquid.png');
 background-repeat: repeat-y;
}

.liquid-button:hover {
 transform: scale(1.1);
}

@keyframes wave {
 0% {
  background-position: left center;
  background-size: 0px 20px;
 }

 100% {
  background-position: 0 200px;
  background-size: 170px 200px;

 }
}